@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

*{
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    background: url("https://data.1freewallpapers.com/download/donuts-patterns-sweet-colorful-texture-2400x1350.jpg") no-repeat fixed center;
}
